@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --FS: 2.5rem;
    --DKBLUE: #1A093C;
    --GRAY: #787282;
    --BLACK: #000000;
    --BLUE: #3F41A6;
    --WHITE: #FFFFFF;
}

body {
    font-size: var(--FS);
    min-height: 100vh;
    background-color: var(--WHITE);
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.7rem;
}

.header__logo {
    margin-left: 150px;

}

.header__logo h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--BLACK);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.header__logo h2:hover {
    transform: rotate(360deg);
}

.header__nav__text {
    display: flex;
    gap: 7rem;
}

.header__nav__text a {
    color: var(--GRAY);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    transition: 0.2s;
}

.header__nav a:hover,
a:focus {
    color: var(--DKBLUE);
    transform: translateY(-2px);
}

.header__button {
    margin-right: 150px;
    border: 4px solid var(--BLUE);
    border-radius: 32px;
    padding: 1.2rem;
}

.header__button a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: var(--BLUE);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size: 24px;
    transition: 0.2s;
}

.header__button img {
    width: 52px;
    height: auto;
    padding-left: 2px;
    transition: 0.2s;
}

.header__button img:hover {
    transform: rotate(360deg);
}

.header__button a:hover {
    transform: translateY(-2px);
}

/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17rem;
    margin-bottom: 35rem;
}

.hero__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin-right: 10rem;
    width: 1200px;
    height: 1400px;
}

.hero__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 27px;
}

.hero__images img:first-child {
    grid-column: 1/6;
}

.hero__images img:last-child {
    grid-column: -1/6;
}

.hero__images img:nth-child(2) {
    width: 510px;
}


.hero__texts {
    display: flex;
    flex-direction: column;
}

.hero__texts h1 {
    font-size: 186px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 50%;
    margin-left: 150px;
    color: var(--DKBLUE);
}

.hero__texts p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--GRAY);
    margin-left: 150px;
    width: 50%;
    margin-top: 3rem;
    font-size: 2rem;
}

.hero__button {
    background-color: var(--BLUE);
    border-radius: 70px;
    padding: 3rem;
    margin-left: 150px;
    width: 460px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.hero__button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: var(--WHITE);
    font-size: 2rem;
    transition: 0.2s;
}

.hero__button span {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fc68;
    border-radius: 50%;
    font-weight: 400;
}

.hero__button a:hover {
    transform: translateY(-2px);
}

.hero__texts__hero-title .word {
    display: block;
    white-space: nowrap;
}

.hero__texts__hero-title span span {
    display: inline-block;
}

.hero__texts__hero-title span span:hover {
    transition: 0.6s;
    animation: letterMove 0.45s ease-in-out;
    color: #3F41A6;
}

@keyframes letterMove {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-19px);
    }

    45% {
        transform: translateX(12px);
    }

    65% {
        transform: translateX(-4px);
    }

    82% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

/* KNOWUS */

.KnowUs {
    display: flex;
    align-items: center;
    margin-bottom: 35rem;
    padding: 0 5rem;
}

.KnowUs__texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20rem;
    width: 95%;
}

.KnowUs__texts h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--BLUE);
    margin-left: 9.5rem;
}

.KnowUs__texts h2 {
    font-size: 146px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 88%;
    margin-left: 150px;
    color: var(--DKBLUE);
}

.KnowUs__texts p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--GRAY);
    margin-left: 160px;
    width: 60%;
    margin-top: 3rem;
    font-size: 2rem;
}

.KnowUs__button {
    background-color: var(--BLUE);
    border-radius: 70px;
    padding: 3rem;
    margin-left: 150px;
    width: 460px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.KnowUs__button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: var(--WHITE);
    font-size: 2rem;
    transition: 0.2s;
}

.KnowUs__button span {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fc68;
    border-radius: 50%;
    font-weight: 400;
}

.KnowUs__button a:hover {
    transform: translateY(-2px);
}

.KnowUs__texts__title .word {
    white-space: nowrap;
}

.KnowUs__texts__title span span {
    display: inline-block;
}

.KnowUs__texts__title span span:hover {
    transition: 0.6s;
    animation: letterMove 0.45s ease-in-out;
    color: #3F41A6;
}


.KnowUs__images {
    display: flex;
    align-items: center;
    gap: 9rem;
    width: 55%;
}

.KnowUs__images img {
    object-fit: cover;
    border-radius: 35px;
}

.KnowUs__images__leaves {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.KnowUs__images__leaves img:first-child {
    width: 12rem;
}

.KnowUs__images__leaves img:nth-child(2) {
    width: 32rem;
}

.KnowUs__images__leaves img:nth-child(3) {
    width: 32rem;
}

.KnowUs__images__leaves img:last-child {
    width: 12rem;
    margin-left: 20rem;
}

/* Benefits */

.WhyUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35rem;
}

.WhyUs__details {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.WhyUs__heading {
    margin-bottom: 8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--DKBLUE);
}

.WhyUs__heading .word {
    white-space: nowrap;
}

.WhyUs__heading span span {
    display: inline-block;
}

.WhyUs__heading span span:hover {
    transition: 0.6s;
    animation: letterMove 0.45s ease-in-out;
    color: #3F41A6;
}

.WhyUs__details p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--GRAY);
    font-size: 2rem;
}

.WhyUs__details h4 {
    margin-left: 4rem;
    margin-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;

}

.WhyUs__details p span {
    margin-left: 5rem;
}

.WhyUs__details h4,
p {
    width: 60%;
}

.WhyUs__details img {
    margin-left: 8rem;
    border-radius: 50%;
    border: 32px solid white;
    margin-bottom: 2.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.18);
}

.WhyUs__box-1__icon-1 img {
    margin-left: 10rem;
}

.WhyUs__box-3__icon-3 img {
    margin-left: 9rem;
}


.WhyUs__box-1 {
    margin-left: 20rem;
}

.WhyUs__box-1 h4 {
    margin-left: 5rem;
}

.WhyUs__box-2__icon-2 img {
    margin-left: 9rem;
}

.WhyUs__box-2 h4 {
    margin-left: 5.5rem;
}

/* Projects */
.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35rem;
}

.projects__images__big-photo {
    height: auto;
    width: 84rem;
}

.projects__images {
    position: relative;
    width: 600px;
}

.project__images__figure__little-photos {
    position: absolute;
    top: 190px;
    left: 0;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-areas: "one one two three" "four five six six";
    gap: 36px;
}

.project__images__figure__little-photos img {
    object-fit: cover;
    border-radius: 13px;
}

.project__images__figure__little-photos img:first-child {
    grid-area: one;
    width: 470px;
}

.project__images__figure__little-photos img:nth-child(2) {
    grid-area: two;
    width: 320px;
    height: 428px;
    position: relative;
    right: 120px;
}

.project__images__figure__little-photos img:nth-child(3) {
    grid-area: three;
    width: 320px;
    height: 428px;
    position: relative;
    right: 130px;
}

.project__images__figure__little-photos img:nth-child(4) {
    grid-area: four;
    height: 428px;
}

.project__images__figure__little-photos img:nth-child(5) {
    grid-area: five;
    position: relative;
    right: 132px;
    width: 320px;
    height: 428px;
}

.project__images__figure__little-photos img:last-child {
    grid-area: six;
    width: 690px;
    position: relative;
    right: 130px;
}

.projects__texts {
    width: 90%;
    margin-left: 52rem;
}

.projects__main {
    display: flex;
    justify-content: space-between;
}

.projects__texts h1 {
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 60%;
    margin-left: 150px;
    color: var(--DKBLUE);
    margin-top: 5rem;
}

.projects__texts p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--GRAY);
    margin-left: 150px;
    width: 45%;
    margin-top: 3rem;
    font-size: 2rem;
}

.projects__acheivements {
    display: flex;
    justify-content: center;
    gap: 12rem;
    align-items: center;
    background-color: #F6F5FB;
    min-height: 400px;
    width: 100%;
    padding-left: 72rem;
    margin-top: -25rem;

}

.projects__acheivements h2 {
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    margin-left: 150px;
    color: var(--DKBLUE);
}

.projects__acheivements p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--DKBLUE);
    margin-left: 150px;
    width: 100%;
    margin-top: 3rem;
    font-size: 2rem;
}

.projects__texts .word {
    white-space: nowrap;
}

.projects__texts span span {
    display: inline-block;
}

.projects__texts span span:hover {
    transition: 0.6s;
    animation: letterMove 0.45s ease-in-out;
    color: #3F41A6;
}

.flowers {
    margin-left: 270px;
    margin-bottom: 35rem;
}

.flowers__texts {
    width: 50%;
}

.flowers__texts h2 {
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--DKBLUE);

}

.flowers__texts .word {
    white-space: nowrap;
}

.flowers__texts span span {
    display: inline-block;
}

.flowers__texts span span:hover {
    transition: 0.6s;
    animation: letterMove 0.45s ease-in-out;
    color: #3F41A6;
}

.flowers__texts p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--GRAY);
    width: 50%;
    margin-top: 3rem;
    font-size: 2rem;
}

.flowers__button {
    background-color: var(--BLUE);
    border-radius: 70px;
    padding: 3rem;
    width: 460px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;

}

.flowers__button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: var(--WHITE);
    font-size: 2rem;
    transition: 0.2s;
}

.flowers__button a:hover {
    transform: translateY(-2px);
}

.flowers__button span {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fc68;
    border-radius: 50%;
    font-weight: 400;
}

.flowers__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12rem;
}

.flowers__images img {
    border-radius: 20px;
    width: 33rem;
}

.second__image {
    position: relative;
    bottom: 15rem;
    right: 12rem;
}

.third__image {
    position: relative;
    bottom: 30rem;
    right: 25rem;
}


.date {
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--DKBLUE);
}

.numbers {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.AwesomeWorks {
    margin-left: 270px;
    margin-bottom: 35rem;

}

.AwesomeWorks__texts h2 {
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--DKBLUE);
}

.AwesomeWorks__texts .word {
    white-space: nowrap;
}

.AwesomeWorks__texts span span {
    display: inline-block;
}

.AwesomeWorks__texts span span:hover {
    transition: 0.6s;
    animation: letterMove 0.45s ease-in-out;
    color: #3F41A6;
}

.AwesomeWorks__texts p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--GRAY);
    width: 50%;
    margin-top: 3rem;
    font-size: 2rem;
}

.AwesomeWorks__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 9rem;
    column-gap: 5rem;
    row-gap: 1rem;
    right: 3.5rem;
    margin-inline: 2.5rem;

}

.AwesomeWorks__images img {
    width: 44rem;

}

.GetStarted {
    background-color: #431898;
    display: flex;
    margin: auto;
    width: 70%;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 12rem;
    padding-bottom: 5rem;
    margin-bottom: 25rem;
}

.GetStarted__texts h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6rem;
    color: var(--WHITE);
    white-space: nowrap;

}

.GetStarted__texts p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--WHITE);
    width: 90%;
    margin-top: 3rem;
    font-size: 2rem;
}

.GetStarted__button {
    background-color: var(--WHITE);
    border-radius: 70px;
    padding: 3rem;
    width: 460px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.GetStarted__button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: var(--BLACK);
    font-size: 2rem;
    transition: 0.2s;
}

.GetStarted__button span {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: #0000006e;
    border-radius: 50%;
    color: var(--WHITE);
    font-weight: 400;
}

.GetStarted__button a:hover {
    transform: translateY(-2px);
}

.GetStarted__image img {
    width: 55rem;
    position: relative;
    left: 19rem;
    bottom: 17rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 12rem;
    margin-bottom: 5rem;
}

.footer h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3C3842;
    font-size: 2rem;

}

.footer__nav__text {
    display: flex;
    gap: 5rem;
}

.footer__nav__text a {
    text-decoration: none;
    color: #3C3842;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;

}

.footer__nav__text a:hover,
a:focus {
    color: var(--DKBLUE);
    transform: translateY(-2px);
}


@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .header {
        gap: 2rem;
    }

    .header__nav__text {
        gap: 4rem;
        margin: 0 4rem;
    }

    .hero {
        flex-direction: column;

    }

    .hero__texts {
        margin-left: 32rem;

    }

    .hero__images {
        margin-top: 20rem;
        margin-left: 82rem;
    }

    .KnowUs {
        margin-bottom: 135rem;
    }

    .KnowUs__images {
        position: relative;
        top: 100rem;

    }

    .KnowUs__texts {
        position: relative;
        right: 36rem;
        width: 80rem;

    }

    .WhyUs {
        position: relative;
        left: 20rem;
        text-align: center;
    }

    .WhyUs__details {
        display: flex;
        gap: 3rem;
    }

    .WhyUs__heading h1 {
        position: relative;
        left: 16rem;
        text-align: center;
    }

    .WhyUs__box-3 h4 {
        position: relative;
        left: 5rem;
    }

    .WhyUs__box-3 p {
        position: relative;
        left: 7rem;
    }

    .WhyUs__box-3 p span {
        position: relative;
        right: 3rem;
    }

    .lol3 {
        position: relative;
        left: 0.5rem;
    }

    .WhyUs__box-2 h4 {
        position: relative;
        left: 3.5rem;
    }

    .WhyUs__box-2 p {
        position: relative;
        left: 7rem;
    }

    .WhyUs__box-2 p span {
        position: relative;
        right: 3rem;
    }

    .lol2 {
        position: relative;
        left: 0.5rem;
    }


    .WhyUs__box-1 h4 {
        position: relative;
        left: 4.5rem;
    }

    .WhyUs__box-1 p {
        position: relative;
        left: 7rem;
    }

    .WhyUs__box-1 p span {
        position: relative;
        right: 3rem;
    }

    .lol1 {
        position: relative;
        left: 0.2rem;
    }

    .WhyUs__details p {
        width: 17rem;

    }

    .projects__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__images {
        position: relative;
        top: 42rem;
    }

    .projects__texts {
        width: 100%;
        margin-left: 10rem;
        position: relative;
        bottom: 92rem;
    }

    .projects__texts h1 {
        width: 100%;
        margin-left: 0;
    }

    .projects__texts p {
        width: 100%;
        margin-left: 0;
    }

    .projects__acheivements {
        margin-top: 3rem;
        padding-right: 122rem;
        display: flex;
        gap: 1px;
        justify-content: center;

    }


    .projects_acheivements__section-3 {
        padding-right: 52rem;

    }

    .flowers__texts {
        width: 64rem;
        position: relative;
        right: 12rem;
    }

    .flowers__button {
        position: relative;
        right: 12rem;
    }

    .flowers__images {
        display: flex;
        gap: 17rem;
    }

    .flowers__images img {
        width: 25rem;
        position: relative;
        top: 22rem;
        right: 14rem;
    }

    .date {
        position: relative;
        top: 23rem;
    }

    .AwesomeWorks__texts {
        width: 55rem;
        position: relative;
        right: 14rem;
    }

    .AwesomeWorks__images img {
        width: 25rem;
        position: relative;
        right: 13.5rem;
    }

    

}